<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat PurchaseOrder package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <mycompany>
            <purchase_orders>
                <enabled>0</enabled>
                <po_validity_time>30</po_validity_time>
            </purchase_orders>
        </mycompany>
    </default>
</config>
